.audio-queue-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow:
    0.3px 0.5px 0.7px hsl(220deg 21% 8%),
    0.8px 1.6px 2px -0.8px hsl(220deg 21% 8%),
    2.1px 4.1px 5.2px -1.7px hsl(220deg 21% 8%);
  height: 200px;
  margin: 20px auto;
  max-width: 500px;
  min-width: 300px;
  overflow-y: scroll;
  padding: 10px;
}

.audio-file {
  background-color: #3498db;
  border-radius: 5px;
  color: white;
  margin-bottom: 5px;
  overflow: hidden;
  padding: 10px;
  position: relative;
}

.audio-file-progress {
  background-color: #2980b9;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.audio-file-text {
  font-size: 16px;
  position: relative;
  z-index: 2;
}
