.header-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  margin: 10px 0;
  width: 100%;
}

@media (1px <= width <= 800px) {
  .header-container {
    font-size: 28px;
    margin: 10px 0 0;
  }
}
