.description-text {
  margin-bottom: 10px;
}

.description-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 70%;
}

@media (1px <= width <= 800px) {
  .description-container {
    width: 90%;
  }
}
