.channel-grouped-layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  width: 100%;
}

.channels-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-8);
  justify-content: center;
  width: 100%;
}

@media (width <= 1200px) {
  .channels-container {
    align-items: center;
    flex-direction: column;
    gap: var(--space-6);
  }
}

@media (width <= 800px) {
  .channel-grouped-layout {
    gap: var(--space-6);
  }

  .channels-container {
    gap: var(--space-4);
    padding: 0 var(--space-2);
  }
}
