.app {
  align-items: center;
  background-color: #18191d;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  min-height: 100vh;
  text-align: center;
}

.example-container {
  background-color: #282c34;
  border: 1px solid #61dafb;
  border-radius: 5px;
  box-shadow:
    0.3px 0.5px 0.7px hsl(220deg 21% 8%),
    0.8px 1.6px 2px -0.8px hsl(220deg 21% 8%),
    2.1px 4.1px 5.2px -1.7px hsl(220deg 21% 8%);
  margin: 20px;
  width: 80%;
}

.visual-queue-container {
  display: flex;
  justify-content: space-evenly;
}

p {
  font-size: 18px;
  margin: 0;
}
