.background-visualizer {
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  z-index: -1;
}

.background-visualizer-canvas {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.background-visualizer-container {
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.background-visualizer-overlay {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
